
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: black center center;

}

.container-fluid, .w-screen {
  display: table;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background: #2e3831 center center;
}

#mainContainer {
  min-width: 720px;
  max-width: 1440px;
}

.row {
  height: 100%;
  display: table-row;
  overflow: hidden;
}

@media (min-width: 992px) {
  .row .no-float {
    display: table-cell;
    float: none;
  }
}

.col-md-3 {
  padding: 0;
}

.col-md-6 {
  padding: 0;
}

/*-----------------Middle Panel-------------------------*/

#imageContainer {

  height: auto;
  width: 100%;

  position: absolute;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  border-radius: 15px;
  overflow: hidden;
}

#bckImg {
  height: auto;
  width: 100%;
  z-index: -100;
}

#TitleContainer {
  position: absolute;
  text-align: center;
  top: 40px;
  width: 100%;
  height: 50px;
  max-height: 50px;
  z-index: 2;
}

#Title {
  color: #1a1818;
  font-family: "Lucida Console", Times, serif;
  font-style: normal;
  font-weight: bold;
  z-index: 2;
}

#algorithm_container {
  position: absolute;

  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 75%;
  width: 65%;

  z-index: 0;
  padding: 0;
}


#collection_container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  marker-offset: 0;
}

#collection_container li {
  height: 100%;
  display: inline-block;
  margin: 0;
}

#collection_container li div {
  margin: 0;
  position: absolute;
  bottom: 0;
}

#collection_container div img {
  width: 100%;
  margin: 0;
}

/*-----------------Left Panel/Right Panel-------------------------*/

.SidePanelContentContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.SidePanelPositionContainer {
  position: relative;
  width: 100%;
  transform: perspective(1px) translateY(-50%);
  top: 50%;
}

.SidePanelSubContainer {
  width: 90%;
  height: 80px;
  margin: 10px;
  display: table;
  background: #6B8CFF;
  border-radius: 10px;
  padding: 10px;
}

.SidePanelSubSubContainer {
  width: 100%;
}

#TextLengthContainer,
#RefreshCollectionText,
#DescriptionTitleContainer {
  width: 90%;
  display: table-cell;
  vertical-align: middle;
}

#TextLengthContainer,
#RefreshCollectionText {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

#DescriptionTitleContainer {
  margin-left: 0;
  margin-right: auto;
  text-align: left;
}

#CollectionLengthText {
  width: auto;
}

.SidePanelText, #collectionLength {
  text-align: center;
  color: #1a1818;
  font-family: "Lucida Console", Times, serif;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}

#collectionLength {
  width: 15%;
  background: transparent;
  border: 2px solid #1a1818;
  padding: 2px;
}

.LeftPanelButtonContainer {
  margin-left: 0;
  margin-right: auto;

  display: table-cell;
  vertical-align: center;
}

#buttonWrapper {
  display: grid;
  margin-left: 5px;
  margin-right: auto;
}

#buttonWrapper button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  float: left;
  text-align: center;

  font-family: "Lucida Console", Times, serif;
  font-style: normal;
  font-weight: bold;

  background-color: black;
  border-radius: 20%;
  color: wheat;
}

#buttonWrapper button:hover {
  background-color: #007376;
}

#RefreshCollectionButton {
  width: 60px;
  margin-left: 5px;
}

#RefreshCollectionButton:hover {
  filter: invert(100%);
}
