
html, body {
    padding: 0;
    margin: 0;
    background: #2e3831 center center;

}


#imageContainer {
    height: auto;
    width:50%;
    position: fixed;
    top: 5%;
    left: 25%;
    /*display: grid;*/
    /*table-layout: fixed;*/
    border: 2px solid #000000;
}

#bckImg {
    height: auto;
    width: 100%;
    z-index: -100;
}

#TitleContainer {
    position: absolute;
    text-align: center;
    top: 0%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
    z-index: 2;
}

#Title {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;

    color: #1a1818;
    font-family: "Lucida Console", Times, serif;
    font-style: normal;
    font-size: 260%;
    font-weight: bold;
    z-index: 2;
}

#algorithm_container {
    position: absolute;
    border: 2px solid #000000;
    top: 53%;
    left: 50%;
    height: 75%;
    width: 65%;
    transform: translate(-50%, -50%);
    z-index: 0;
    padding: 0;
}


#collection_container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    marker-offset: 0;
}

#collection_container li{
    /*width: 19%;*/
    height: 100%;
    display: inline-block;
    margin: 0;
}

#collection_container li div{
    /*width: 19%;*/
    margin: 0;
    position: absolute;
    bottom: 0;
}

#collection_container div img{
    width: 100%;
    margin: 0;
}

#collectionLengthContainer {
    position: fixed;
    display: inline;
    float: left;
    width: 25%;
    top: 50%;
    left: 5%;
    margin: 0 auto;
}

#CollectionLengthText, #collectionLength {
    text-align: center;
    color: #06ff03;
    font-family: "Lucida Console", Times, serif;
    font-style: normal;
    font-size: 200%;
    font-weight: bold;
}

#collectionLength {
    width: 10%;
    background: black;
    border: 2px solid #06ff03;
    padding: 2px;
}
