<!DOCTYPE HTML>
<html>
<head>
    <title>Algorithm Presenter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet"
          type = "text/css"
          href = "css/indexStyle.css" />
</head>
<body>
<h1>Algorithm Presenter</h1>
<form method="get" action="/SortingAlgorithm">
    <label for="SortingAlgorithmButton">Sorting Algorithms :</label>
    <button id="SortingAlgorithmButton" type="submit">Continue</button>
</form>
<form method="get" action="/greeting">
    <label for="PathFinderAlgorithmButton">Path finder Algorithms :</label>
    <button id="PathFinderAlgorithmButton" type="submit">Continue</button>
</form>



</body>
</html>