<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sorting algorithm</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet"
          type = "text/css"
          href = "css/sortingStyle.css" />
<!--    <script type="text/javascript">-->
<!--            function resizeDivFromBckImage(div) {-->
<!--                var imgBckGnd = document.getElementById("bckImg");-->
<!--                div.width = imgBckGnd.offsetWidth;-->
<!--                div.height = imgBckGnd.offsetHeight;-->
<!--            }-->
<!--    </script>-->
</head>

<body>
<div class="wrap">

    <div id="imageContainer">
        <div id="Title">Sorting Algorithm</div>
        <img src="Images/marioBackGround.png" id="bckImg" alt="Mario_world"/>
        <div id="algorithm_container">
            <ul id="collection_container">

            </ul>
        </div>
    </div>


</div>




</body>
</html>