<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sorting algorithm</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <link rel="stylesheet"
        type="text/css"
        href="css/sortingStyle.css"/>
  <link rel="stylesheet"
        type="text/css"
        href="css/mainLayoutStyle.css"/>
  <script type="text/javascript" src="js/CollectionManager.js"></script>
</head>

<body id="body" onload="getNewCollection()">

<div class="container-fluid" id="mainContainer">
  <div class="row">
    <div class="col-md-3 no-float">
      <div class="SidePanelContentContainer">
        <div class = "SidePanelPositionContainer">

          <div class="SidePanelSubContainer">
            <div class="SidePanelSubSubContainer">

              <div class="SideContainerFlexLeft">
                <div class="SideContentContainer LeftContentContainer">
                  <label for="CollectionLength"
                         class="SidePanelText SidePanelAutoWidthText">
                    List length :
                  </label>
                  <input type="text" id="CollectionLength"
                         class="SidePanelText SidePanelInputText"
                         value="10"
                         onchange="getNewCollection()">
                </div>
                <div class="AlignRightContainer TableButtonContainer">
                  <div class="ButtonWrapper">
                    <button onclick="incrementCollectionSize()">+</button>
                    <button onclick="decrementCollectionSize()">-</button>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="SidePanelSubContainer">
            <div class="SidePanelSubSubContainer">

              <div class="SideContainerFlexLeft AlignRightContainer ">
                <div>
                  <label class="SidePanelText InlineBlockElement"
                         for="RefreshCollectionButton">Randomize list :</label>
                </div>
                <div class="InlineButtonContainer">
                  <input id="RefreshCollectionButton"
                         type="image"
                         src="images/marioRandomBlock.png"
                         alt="RANDOM"
                         onclick="getNewCollection()"
                         class="RandomMarioBlockButton"/>
                </div>
              </div>

            </div>
          </div>

          <div class="SidePanelSubContainer">
            <div class="SidePanelSubSubContainer">

              <div class="SideContainerFlexLeft AlignRightContainer ">
                <div>
                  <label class="SidePanelText InlineBlockElement"
                         for="RefreshCollectionButton">Randomize list :</label>
                </div>
                <div class="InlineButtonContainer">
                  <input id="AlgorithmInput"
                         type="image"
                         src="images/marioRandomBlock.png"
                         alt="RANDOM"
                         onclick="getNewCollection()"
                         class="RandomMarioBlockButton"/>
                </div>
              </div>

            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="col-md-6 no-float">
        <div id="imageContainer" class="StaticMiddleContainer">
          <div id="TitleContainer">
            <h1 id="Title" class="text-nowrap">Sorting Algorithm</h1>
          </div>
          <img src="images/marioBackGround.png" id="bckImg" alt="Mario_world"/>
          <div id="algorithm_container">
            <ul id="collection_container">
            </ul>
          </div>
        </div>
    </div>

<!--    col-md-3 no-float-->
    <div class="col-md-3 no-float">
      <div id="RightPanelContentContainer" class="SidePanelContentContainer">
        <div id="RightPanelPositionContainer" class="SidePanelPositionContainer">
          <div id="AlgorithmDescriptionSubContainer" class="SidePanelSubContainer">
            <div id="AlgorithmDescriptionSubSubContainer" class="SidePanelSubSubContainer">
              <div id="DescriptionTitleContainer" class="SideContentContainer AlignLeftContainer">
                <p class="SidePanelText">Description</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
